@use '../../../styles/main';

.Footer {
  height: 70px;
  background-color: rgb(255,0, 0);
  color: var(--color2);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 main.$webSidePadding;
}
